<div id="todo-stats" class="grid grid-cols-3 gap-2 font-mono text-[11px] uppercase tracking-[0.15em]">
    <div class="border border-black/10 px-3 py-2">
        <div class="text-gray-400">Total</div>
        <div class="mt-1 text-black">{{ todo_total }}</div>
    </div>
    <div class="border border-black/10 px-3 py-2">
        <div class="text-gray-400">Active</div>
        <div class="mt-1 text-black">{{ todo_active }}</div>
    </div>
    <div class="border border-black/10 px-3 py-2">
        <div class="text-gray-400">Done</div>
        <div class="mt-1 text-black">{{ todo_completed }}</div>
    </div>
</div>
